#program
  %div
    %h2= @program.name
    %pre= @program.instructions
    = link_to "Edit Program", edit_program_path(@program), class: :button
    %h3 Compile Program
    = form_tag compile_program_path(@program) do
      - variables = []
      - @program.instructions.scan(/{(.*?)}/).each do |string|
        - unless variables.include? string
          - variables << string
          .input
            %label= string[0].titleize
            = text_field_tag "configuration[#{string[0]}]"
      = submit_tag "Compile and Install", class: :button